.bbsPageButton {
  color: #000;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: calc(115% + 1vw);
  margin-left: 2vw;
}

#bbsBox {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: flex-start;  /* 縦方向上揃え */
  align-items: center;          /* 横方向中央揃え */
  flex-direction: column;
}

#bbs {
  width: 95%;
  height: 95%;
  margin: 2vh 2vw;
  display: flex;
  justify-content: center;      /* 縦方向中央揃え */
  align-items: center;          /* 横方向中央揃え */
  flex-direction: column;
  overflow-y: scroll;
}

#bbs::-webkit-scrollbar {
  width: 2vw;   /* バーの太さ */
}
#bbs::-webkit-scrollbar-track {
  background: #DDDDDD;  /* バーの背景色 */
}
#bbsPageButton::-webkit-scrollbar-thumb {
  background: #EEEEEE;  /* バーの色 */
}

.bbsItem {
  width: 95%;
  height: auto;
  margin: 5px 0;
  padding: 5px;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}